.vacan {
    background: none;
    .career-first:not(.mobile) {
        background: url("data:image/svg+xml,%3Csvg width='1920' height='1292' viewBox='0 0 1920 1292' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 -5.5H1930.5V1050H1410H935.596C608.252 1050 286.289 1133.28 0 1292V1050V-5.5Z' fill='%234F4F4F'/%3E%3C/svg%3E%0A") 0 / 100% no-repeat;
        padding-bottom: vw(500);
    }
}
.vacancies-tabs {
    background: #fff;
    
    &:not(.mobile) {
        padding: vw(0) vw(50);
        padding-bottom: vw(300);
    }
    &.mobile {
        padding: 30px 0 50px;
        margin-bottom: 50px;
    }
    
    &:not(.mobile) &-items {
        padding-right: vw(309);
    }
    &.mobile &-items {
        padding: 0 20px;
    }
    &-item {}
    &-item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        cursor: pointer;
        
        .text {
            color: #4F4F4F;
            @extend %transition;
        }
        .icon {
            transform: rotate(180deg);
        }
    }
    &:not(.mobile) &-item-title {
        border-bottom: vw(3) solid $mainColor;
        padding: vw(40) 0;
        .text {
            font-size: vw(50);
            line-height: vw(50);
        }
        .icon {
            width: vw(51);
            height: vw(28);
        }
    }
    &.mobile &-item-title {
        border-bottom: 3px solid $mainColor;
        padding: 20px 0;
        .text {
            font-size: 30px;
            line-height: 40px;
        }
        .icon {
            width: 17px;
            height: 9px;
        }
    }
    &-item-body {
        height: 0;
        overflow: hidden;
        p {
            margin-top: 0;
            color: #4F4F4F;
        }
    }
    &:not(.mobile) &-item-body {
        p {
            font-size: vw(30);
            line-height: vw(50);
            margin-bottom: vw(25);
        }
    }
    &.mobile &-item-body {
        padding: 20px 0 0 0;
        p {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 15px;
        }
    }
    &:not(.mobile) &-item-body-fake {
        height: vw(200);
    }
    &.mobile &-item-body-fake {
        height: 20px;
    }
    &-item.is-active &-item-title {
        .text {
            font-weight: bold;
            font-size: vw(80);
            line-height: vw(80);
        }
        .icon {
            transform: rotate(0)
        }
    }
    &.mobile &-item.is-active &-item-title {
        .text {
            font-size: 30px;
            line-height: 40px;
        }
    }
}