.karta {
    background: url('../img/karta_bg.jpg') 50% 50%/cover no-repeat;
    &__image {
        position: absolute;
        left: vw(-96);
        right: vw(-96);
        top: vw(-28);
        bottom: vw(-28);
        background: url('../img/karta.png') 50% 50%/cover no-repeat;
        transition: opacity .6s ease;
        opacity: 0;
    }
    &__cloud {
        position: absolute;
        width: vw(714);
        left: vw(-245);
        top: vw(-99);
        transition: opacity .6s ease;
        opacity: 0;
    }
    &:hover &__image,
    &:hover &__cloud,
    &.mobile &__image,
    &.mobile &__cloud {
        opacity: 1;
    }
}