.utilico {
    background: #F06666;
    &__image {
        width: vw(305);
        height: vw(305);
        position: absolute;
        left: 50%;
        top: calc(50% - #{vw(50)});
        transform: translateX(-50%) translateY(-50%);
    }
    &:not(.mobile):hover &__image {
        animation: saw 1s infinite linear;
    }
    &.mobile &__image {
        width: 140px;
        height: 140px;
    }
}

@keyframes saw {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}