.career-blocks {
    background: none;
    &:not(.mobile) {
        margin-top: vw(-489);
    }
    &.mobile {
        padding-bottom: 100px;
    }
    &.mobile + .career-blog + .main-resume {
        display: none;
    }
    &-items {}
    &-item {
        background: none;
        
    }
    &:not(.mobile) &-item {
        background: #fff;
        &:not(:last-child) {
            margin-bottom: vw(207);
        }
    }
    &.mobile &-item {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }
    
    &:not(.mobile) &-item-in {
        display: flex;
        height: 100vh;
    }
    &.mobile &-item-in {
        display: flex;
        flex-direction: column;
    }
    &-item-scroller {
        // height: 100vh;
    }
    &-left {
        display: flex;
        flex-direction: column;        
    }
    &:not(.mobile) &-left {
        width: calc(100% - #{vw(817)});
        padding: vw(150) vw(77) vw(50) vw(50);
        // transform: translateY(100%);
    }
    &.mobile &-left {
        transform: none !important;
        padding: 0 20px;
    }
    &-title {
        font-weight: bold;
        text-transform: uppercase;
        color: #4F4F4F;
    }
    &:not(.mobile) &-title {
        font-size: vw(90);
        line-height: vw(110);
        margin-bottom: vw(30);
    }
    &.mobile &-title {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 20px;
    }
    &-text {
        
        color: #4F4F4F;
        flex: 1 1 auto;
        overflow: auto;
        p {
            margin: 0;
        }
    }
    &:not(.mobile) &-text {
        font-size: vw(30);
        line-height: vw(50);
        padding-right: vw(50);
        p {
            &:not(:last-child) {
                margin-bottom: vw(50);
            }
        }
    }
    &.mobile &-text {
        font-size: 16px;
        line-height: 22px;
        p {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    &-right {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    &:not(.mobile) &-right {
        width: vw(817);
        height: 100%;
    }
    &.mobile &-right {
        order: -1;
        margin-bottom: 50px;
    }
}