<section class="career-blocks" :class="{'mobile': window.width <=1280}">
    <div class="career-blocks-items">
        @@for (var i = 0; i < 3; i++) {
            <article class="career-blocks-item">
                <div class="career-blocks-item-in">
                    <div class="career-blocks-left">
                        <h4 class="career-blocks-title">Офис</h4>
                        <div class="career-blocks-text">
                            <p>Наш офис равноудален от нескольких станций метро (Ленинский проспект, Площадь Гагарина, Тульская и Шаболовская) и обеспечен собственной бесплатной парковкой</p>
                            <p>Внутри офиса каждая проектная команда работает в своем пространстве для большей продуктивности. Если хочется поработать в тишине, в распоряжении сотрудников есть свободные зоны с удобными креслами. Многие сотрудники являются аутстаф-специалистами и большую часть времени проводят на стороне заказчика, но совместные тематические вечера в офисе и постоянное общение помогает поддерживать теплую атмосферу в коллективе.</p>
                            <p>Внутри офиса каждая проектная команда работает в своем пространстве для большей продуктивности. Если хочется поработать в тишине, в распоряжении сотрудников есть свободные зоны с удобными креслами. Многие сотрудники являются аутстаф-специалистами и большую часть времени проводят на стороне заказчика, но совместные тематические вечера в офисе и постоянное общение помогает поддерживать теплую атмосферу в коллективе.</p>
                            <p>Внутри офиса каждая проектная команда работает в своем пространстве для большей продуктивности. Если хочется поработать в тишине, в распоряжении сотрудников есть свободные зоны с удобными креслами. Многие сотрудники являются аутстаф-специалистами и большую часть времени проводят на стороне заказчика, но совместные тематические вечера в офисе и постоянное общение помогает поддерживать теплую атмосферу в коллективе.</p>
                        </div>
                    </div>
                    <div class="career-blocks-right">
                        <img src="https://picsum.photos/190`+ i +`" width="100%" height="100%" alt="">
                    </div>
                </div>
                <div class="career-blocks-item-scroller" v-if="window.width > 1280"></div>
            </article>
        }
    </div>
</section>