.company-ceo {
    padding-bottom: 0;
    &-titles {
        height: vw(220);
    }
    &-title {
        padding-right: vw(450);
        font-size: vw(90);
        line-height: vw(110);
    }
}