.cases {
    &__wrapper {
        position: relative;
        z-index: 5;
        padding-bottom: 15.625vw;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        &.mobile {
            display: block;
        }
    }
    &__item {
        width: 50%;
        display: block;
        position: relative;
        overflow: hidden;
        &.mobile {
            width: 100%;
        }
        * {
            pointer-events: none;
        }
        &:after {
            content: "";
            display: block;
            padding-top: 75%;
            pointer-events: none;
        }
        &.mobile:after {
            padding-top: 60%;
        }
    }
    &__item-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: vw(50);
        box-sizing: border-box;
    }
    &__item.mobile &__item-bottom {
        padding: 15px 20px;
    }
    &__item-title {
        font-weight: bold;
        font-size: vw(36);
        margin-bottom: vw(16);
        line-height: 500%;
        color: #FFFFFF;
        height: vw(60);
        overflow: hidden;
        // transform: translateX(-100%);
        transition: line-height 0.6s ease;
    }
    &__item.mobile &__item-title {
        font-size: 16px;
        margin-bottom: 2px;
        height: auto;
        line-height: 160%;
        // transform: translateX(0) !important;
    }
    &__item-text {
        font-size: vw(20);
        line-height: 160%;
        color: #FFFFFF;
        padding-right: vw(323);
    }
    &__item.mobile &__item-text {
        font-size: 12px;
        padding-right: 0;
    }
    &__item:hover &__item-title {
        // transform: translateX(0);
        line-height: 160%;
    }
    &__item--dark &__item-text,
    &__item--dark &__item-title {
        color: #121423;
    }
    &__item--lightonhover &__item-text,
    &__item--lightonhover &__item-title {
        color: #121423;
        transition: all 0.6s ease;
    }
    &__item--lightonhover:hover &__item-text,
    &__item--lightonhover:hover &__item-title {
        color: #fff;
    }
    &__item--lightonhover.mobile &__item-text,
    &__item--lightonhover.mobile &__item-title {
        color: #fff;
    }
}

.blog-items-buttons__wrap {
    padding: 0 2.60417vw;
}

.career-first {
    position: relative;
    z-index: 5;
}
.cases__wrapper {
    @import './careof/styles';
    @import './zorge/styles';
    @import './bioline/styles';
    @import './medex/styles';
    @import './malina/styles';
    @import './mmcite/styles';
    @import './mukomol/styles';
    @import './happybaby/styles';
    @import './englex/styles';
    @import './fieldwire/styles';
    @import './foodband/styles';
    @import './mosplita/styles';
    @import './ast/styles';
    @import './stroydvor/styles';
    @import './utilico/styles';
    @import './homeoutlet/styles';
    @import './lonmadi/styles';
    @import './intacto/styles';
    @import './promprint/styles';
    @import './frost/styles';
    @import './satepai/styles';
    @import './napopravku/styles';
    @import './selis/styles';
    @import './karta/styles';
}