<section class="main-resume">
    <h4 class="main-resume-title">Работа у нас</h4>
    <form action="#">
        <div class="main-question-form">
            <div class="main-question-inputs">
                <input type="text" placeholder="Ваше имя">
                <input type="text" placeholder="Специальность">
                <input type="email" placeholder="Email">
                <textarea placeholder="Расскажите о себе"></textarea>
                <label class="main-question-form-item">
                    <input type="file">
                    <span v-if="!mainQuestionForm.hasFile">+ Прикрепить резюме</span>
                    <span v-if="mainQuestionForm.hasFile && mainQuestionForm.file.name">+ {{mainQuestionForm.file.name}}</span>
                </label>
                <div class="main-question-form-item">
                    <button type="submit" class="button button--main"  @mouseenter="buttonMouseEnter" @mouseleave="buttonMouseLeave">
                        <div class="text">Отправить резюме</div>
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>