body.posts {
    background: none;
    .posts-blog {
        padding: 0 0 vw(350);
        position: relative;
        z-index: 23;
        max-width: 1266px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: flex-start;
        box-sizing: border-box;
        justify-content: space-between;
        &_l {
            display: flex;
            width: 100%;
            align-items: flex-start;
            &__photo {
                flex: 0 0 vw(220);
                margin-right: vw(64);
            }
            &__info {
                padding-top: vw(70);
                &--title {
                    font-style: normal;
                    font-weight: bold;
                    font-size: vw(70);
                    line-height: vw(70);
                    text-transform: uppercase;
                    margin-bottom: vw(15);
                    color: #FFFFFF;
                }
                &--work {
                    font-style: normal;
                    font-weight: normal;
                    font-size: vw(40);
                    line-height: vw(40);
                    color: #FFFFFF;
                    margin-bottom: vw(90);
                }
                &--link {
                    font-style: normal;
                    font-weight: 500;
                    font-size: vw(40);
                    line-height: vw(40);
                    text-decoration-line: underline;
                    color: #FF4978;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        &_r {
            padding-top: vw(70);
            flex: 0 0 vw(195);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            a {
                display: block;
                max-width: vw(74);
                margin-bottom: vw(5);
            }
        }
        @media all and (max-width: 1023px) {
            display: none;
        }
    }
}