<header class="header" :class="{'isOpened': header.isOpened, 'mobile': window.width <=1023}">
    <div class="header-blur"></div>
    <div class="header-in">
        <a href="/" class="header-logo" :class="{'mobile': window.width <=1023}">
            <img src="img/logo.png" width="100%" height="100%" alt="">
        </a>
        <div class="header-menu-opener" :class="{'isOpened': header.isOpened}" @click="header.openMobileHeader()" v-if="window.width <= 1023">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <nav class="header-menu" v-if="window.width > 1023">
            <ul>
                <li class="isActive" @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="job.html">Услуги</a></li>
                <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="cases.html">Портфолио</a></li>
                <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="company.html">О компании</a></li>
                <!-- <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="#">Команда</a></li> -->
                <!-- <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="#">Отзывы</a></li> -->
                <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="contacts.html">Контакты</a></li>
                <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="career.html">Карьера</a></li>
                <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="vacancies.html">Вакансии</a></li>
                <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="blog.html">Блог</a></li>
            </ul>
            <div class="header-menu-border"></div>
            <div class="header-menu-wave">
                <svg width="100%" height="100%" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 11V11C1.85178 11 3.54446 9.95326 4.37176 8.29656L6.91016 3.21324C8.16237 0.705607 11.758 0.75631 12.939 3.29826L15.0498 7.84153C15.9448 9.76782 17.876 11 20 11V11" stroke="#E54A72" stroke-width="2"/>
                </svg>                    
            </div>
        </nav>
        <ul class="header-lang" v-if="window.width > 1023">
            {{header.isPhonesOpened}}
            <li class="header-phone_opener">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
                    <path d="M19.0264 20.9929C20.0722 21.0873 21.0036 20.2223 20.9994 19.1864V16.4767C21.0104 16.0337 20.8579 15.6021 20.5709 15.264C19.7615 14.3106 16.9855 13.7008 15.8851 13.935C15.0273 14.1176 14.4272 14.9788 13.8405 15.5644C12.6172 14.8702 11.5075 14.005 10.5426 13M8.41019 10.1448C8.9969 9.55929 9.85987 8.96036 10.0428 8.10428C10.2771 7.00777 9.66813 4.24949 8.72131 3.43684C8.38828 3.151 7.96247 2.99577 7.52325 3.00009H4.80811C3.77358 3.00106 2.91287 3.92895 3.00706 4.96919C3.00081 12.9038 8.48251 19.3497 15.9999 20.7226" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </li>
            <li class="active"><a href="#">Ru</a></li>
            <li class="header-lang__delim">/</li>
            <li><a href="#">En</a></li>
        </ul>
    </div>
    <nav class="header-mobile-menu" :class="{'isOpened': header.isOpened}" v-if="window.width <= 1023">
        <ul>
            <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="job.html">Услуги</a></li>
            <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="cases.html">Портфолио</a></li>
            <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="company.html">О компании</a></li>
            <!-- <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="#">Команда</a></li> -->
            <li class="isActive" @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="#">Отзывы</a></li>
            <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="contacts.html">Контакты</a></li>
            <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="career.html">Карьера</a></li>
            <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="vacancies.html">Вакансии</a></li>
            <li @mouseenter="header.setHeaderWavePosition" @mouseleave="header.setHeaderWavePositionOnLoad"><a href="blog.html">Блог</a></li>
        </ul>
    </nav>
    <div class="header-phone_modal" :class="{ 'isOpened': header.isPhonesOpened }">
        <div class="header-phone_modal_in">
            <div class="header-phone_modal_closer">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 12 12" fill="none"><path d="M7 6L12 1L11 0L6 5L1 0L0 1L5 6L0 11L1 12L6 7L11 12L12 11L7 6Z" fill="#000"></path></svg>
            </div>
            <div class="header-phone_modal_phones">
                <a href="tel:+74952780708">+7 (495) 278-07-08</a>
                <div class="delim"></div>
                <a href="tel:+74952780708">+7 (495) 278-07-08</a>
            </div>
        </div>
    </div>
</header>