.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  &-blur {
    background: rgba(79, 79, 79, 0.75);
    backdrop-filter: blur(16px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  &-in {
    padding: vw(30) vw(50);
    @extend %flex-center-between;
    position: relative;
    z-index: 2;
  }
  &-logo {
    @extend %block;
    @extend %zero-font-size;
    width: vw(300);
  }
  &-menu {
    position: relative;
    ul {
      list-style: none;
      @extend %zero-font-size;
    }
    li {
      display: inline-block;
      vertical-align: top;
    }
    a {
      text-decoration: none;
      padding: vw(20);
      font-weight: 600;
      font-size: vw(20);
      line-height: vw(20);
      @extend %white;
      @extend %block;
    }
    li.isActive a {
      color: $mainColor;
    }
  }
  &-menu-wave {
    position: absolute;
    left: 0;
    bottom: 0;
    width: vw(20);
    height: vw(12);
    background: $bgColor;
    transform: translateX(-50%);
    display: none;
    @extend %zero-font-size;
  }
  &-menu-border {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: vw(2);
    background: $mainColor;
    pointer-events: none;
  }
  &-lang {
    @extend %zero-font-size;
    li {
      font-weight: 500;
      font-size: vw(20);
      line-height: vw(20);
      @extend %white;
      @extend %inline-block;
    }
    a {
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      text-decoration: none;
      @extend %transition;
      &:hover {
        color: $mainColor;
      }
    }
  }
}
