.happy_baby {
  .job-stages {
    &-item-text {
      padding-top: 195px;
    }
    &__logo {
      display: block;
      width: 63px;
      height: 63px;
      margin-bottom: 33px;
    }
  }
  .ui_container {
    padding: 10px;
    box-shadow: 0px 13px 60px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
  }
  .case_page {
    &__bls--title {
      z-index: 5;
      position: relative;
    }

    &__about--rlist {
      li {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
    }
    &__style--title {
      padding: 0;
    }
  }
  .career-blocks {
    margin-bottom: 0;
  }
  .happy_research--img {
    padding: 10px;
    width: 100%;
    box-shadow: 0px 13px 60px rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }
  .happy_chair {
    background: #dd2f44;
    padding-top: 50%;
    margin-top: -50%;

    &--wrapper {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 5;
    }
    &--text {
      color: #fff;
      font-weight: 400;
      font-size: 25px;
      line-height: 1.4;
      max-width: 1053px;
      width: 100%;
      margin-right: 450px;
      padding-top: 130px;
      padding-bottom: 100px;
      @include _1199-block {
        margin-right: 0;
        max-width: 100%;
        padding-bottom: 30%;
        padding-top: 0;
      }
      @include _575-block {
        font-size: 14px;
      }
    }
    &--img {
      max-width: 450px;
      width: 100%;
      position: absolute;
      top: -25px;
      right: 15px;
      @include _1199-block {
        top: 50%;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
      }
      @include _767-block {
        top: 70%;
        max-width: 310px;
        border-radius: 10px;
      }
    }
  }
  .happy_fonts {
    @media (max-width: 1473px) {
      padding-top: 35%;
    }
    @include _1199-block {
      padding-top: 80%;
    }
    @media (max-width: 663px) {
      padding-top: 100%;
    }
    @include _575-block {
      padding-top: 120%;
    }
    @media (max-width: 479px) {
      padding-top: 140%;
    }
    @media (max-width: 407px) {
      padding-top: 160%;
    }
    @media (max-width: 350px) {
      padding-top: 180%;
    }
    padding: 100px 0 120px;
    &--inner {
      display: flex;
      gap: 0 155px;
    }
    &--title {
      font-weight: 700;
      font-size: 30px;
      line-height: 100%;
      text-transform: uppercase;
      color: #121423;
      margin-bottom: 47px;
      @include _575-block {
        font-size: 16px;
        max-width: 320px;
        margin: 0 auto 20px;
      }
    }
    &--img {
      max-width: 458px;
      width: 100%;
      display: block;
      @include _575-block {
        margin-bottom: 30px;
        max-width: 320px;
      }
    }
    &--colors {
      padding-top: 40px;
      @include _575-block {
        padding-top: 0;
      }
      &-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;
        color: #121423;
        margin-bottom: 30px;
        @include _575-block {
          font-size: 20px;
        }
      }
      &-colors {
        display: flex;
        gap: 0 20px;
      }
      &-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        span {
          border-radius: 1px 20px;
          width: 80px;
          height: 80px;
          @include _575-block {
            width: 65px;
            height: 54px;
          }
          &.happy_red {
            background: #dd2f44;
          }
          &.happy_blue {
            background: #006daa;
          }
          &.happy_lightgray {
            background: #dfcfb7;
          }
          &.happy_lightblue {
            background: #f0f0f0;
          }
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          text-align: center;
          text-transform: uppercase;
          color: #121423;
          margin: 0;
          @include _575-block {
            font-size: 14px;
          }
        }
      }
    }
  }
  .block_pal:before {
    display: none;
  }
  .ui_ref-img {
    padding-right: 50px;
    padding-left: 50px;
  }
  .case_happy_about {
    padding-top: 150px !important;
  }

  .happy_ui {
    padding-top: 190px !important;
    padding-bottom: 16vh;
    .case_page__about--wtitle {
      margin-bottom: 80px;
    }

    &--wrapper {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      margin-bottom: 152px !important;
    }
    &--l {
      width: 50%;

      &-text {
        font-weight: 400;
        font-size: 25px;
        line-height: 1.4;
        color: #4f4f4f;
        margin-bottom: 30px;
      }
      &-list {
        font-weight: 400;
        padding-left: 30px;
        list-style: none;
        margin-bottom: 65px;
        li {
          font-weight: 400;
          font-size: 18px;
          line-height: 1.4;
          color: #4f4f4f;
          position: relative;
          &:not(:last-child) {
            margin-bottom: 15px;
          }
          &::before {
            content: "";
            width: 3px;
            height: 3px;
            background: #4f4f4f;
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -15px;
          }
        }
      }
      &-container {
        position: relative;
        height: 100%;
        &::before {
          content: "";
          position: absolute;
          width: 872px;
          height: 872px;
          background: #dd2f44;
          display: block;
          left: 254px;
          border-radius: 50%;
          top: 5%;
          z-index: -1;
        }
      }
      &-img {
        max-width: 334px;
        width: 100%;
        position: absolute;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      &-img1 {
        left: 0;
        top: 0;
      }
      &-img2 {
        right: 100px;
        bottom: 28%;
      }
    }
    &--r {
      width: 50%;
      z-index: 5;
      img {
        display: block;
        width: 100%;
      }
    }
  }
  .happy_basket {
    margin-top: 52px;
    width: 100%;
    display: block;
  }
  .no_overall {
    margin-bottom: -42% !important;
  }
  .career-blocks-pad {
    padding-top: 40% !important;
  }
  .result_list {
    font-weight: 400;
    font-size: 25px;
    line-height: 1.6;
    color: #4f4f4f;
    position: relative;
    padding-left: 30px;
    margin-bottom: 80px;
    li {
      &::before {
        content: "";
        width: 3px;
        height: 3px;
        background: #4f4f4f;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -15px;
      }
    }
  }
}
