.cases-items {
    padding: 0 vw(50) vw(300);
    position: relative;
    z-index: 10;
    &-buttons {
        margin-bottom: vw(48);
    }
    &-posts {
        display: flex;
        flex-wrap: wrap;
    }
    &-post {
        width: 50%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        &:nth-child(2n+3), &:nth-child(2n+4)  {
            min-height: 676px;     
        }
    }
    &-post-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    &-post-text {
        position: relative;
        z-index: 2;
        padding: vw(60) vw(50) vw(80);
        background: $mainColor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateY(-100%);
        @extend %transition;
        .top {
          margin-bottom: vw(60);  
        }
        .middle {
            margin-bottom: vw(91);
        }
        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &-post:hover &-post-text {
        transform: translateY(0);
    }
    &-post-date {
        font-size: vw(30);
        line-height: vw(30);
        @extend %white;
    }
    &-post-title {
        font-weight: 600;
        font-size: vw(60);
        line-height: vw(70);
        @extend %white;
    }
    &-post-description {
        font-weight: 500;
        font-size: vw(40);
        line-height: vw(40);
        @extend %white;
    }
    &-post-category {
        font-size: vw(30);
        line-height: vw(30);
        @extend %white;
        &:hover {
            color: #fff !important;
            text-decoration: none;
        }
    }
    &-info-text {
        margin-top: vw(53);
        font-weight: bold;
        font-size: vw(30);
        line-height: vw(30);
        text-align: center;
        text-transform: uppercase;
        @extend %white;
    }
    &.mobile {
        .cases-items-buttons {
            margin-bottom: 50px;
            padding: 0 20px;
            padding-bottom: 10px;
            overflow: auto;
            display: flex;
            align-items: center;
            &::-webkit-scrollbar {
                display: none;
            }
            button.news-and-trends-button {
                font-weight: 500;
                font-size: 14px;
                line-height: 14px;
                padding: 14px 30px;
                border-radius: 10px;
            }
        }
        .cases-items-post {
            width: 100%;
            min-height: 320px;
        }
        .cases-items-post-text {
            min-height: 320px;
        }
        .cases-items-post-date {
            font-size: 12px;
        }
        .cases-items-post-title {
            font-size: 24px;
        }
        .cases-items-post-description, .cases-items-post-category {
            font-size: 14px;
        }
        .cases-items-post-category {
            font-size: 13px;
        }
    }
}