.foodband {
    background: #EEC996;
    transition: background .6s ease;
    &__image {
        position: absolute;
        transition: left .6s ease, top .6s ease, bottom .6s ease, right .6s ease, opacity .6s ease;
        z-index: 2;
        img {
            height: 100%;
        }
        &--center {
            top: calc(50% - #{vw(28)});
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: vw(534);
        }
        &--left {
            top: -100%;
            left: -100%;
            height: vw(287);
        }
        &--right {
            top: -100%;
            right: -100%;
            height: vw(124);
        }
        &--pepper-left {
            bottom: vw(226);
            left: vw(162); 
            height: vw(127);
            opacity: 0;
        }
        &--pepper-right {
            bottom: vw(181);
            right: vw(241); 
            height: vw(80);
            opacity: 0;
        }
        &--leaf {
            bottom: vw(239);
            right: vw(48);
            height: vw(221);
            opacity: 0;
            z-index: 3;
        }
        &--acces {
            bottom: -100%;
            right: -100%; 
            height: vw(234);
        }
    }
    &:hover,
    &.mobile {
        background: #F6F6F8;
    }
    &:hover &__image,
    &.mobile &__image {
        &--left {
            left: vw(-17);
            top: vw(36);
        }
        &--right {
            right: vw(187);
            top: vw(81);
        }
        &--pepper-left {
            opacity: 1;        
        }
        &--pepper-right {
            opacity: 1;        
        }
        &--leaf {
            opacity: 1;
        }
        &--acces {
            bottom: vw(50);
            right: 0;
        }
    }
    &.mobile &__image {
        &--center {
            height: 171px;
        }
        &--left {
            height: 85px;
            top: 0;
            left: 0;
        }
        &--right {
            height: 39px;
            top: 17px;
            right: 84px;
        }
        &--pepper-left {
            height: 39px;    
            left: 79px;
            top: 111px;  
        }
        &--pepper-right {
            height: 25px;      
        }
        &--leaf {
            width: 57px;
            top: 136px;
            right: 97px;
        }
        &--acces {
           height: 75px;
           right: 0;
           bottom: 0;
        }
    }
}