@font-face {
    font-family: 'gb';
    src: url('../videos/gb.otf');
}
@font-face {
    font-family: 'Glb';
    src: url('../videos/Gilroy-Bold.ttf');
}
@font-face {
    font-family: 'Glr';
    src: url('../videos/Gilroy-Regular.ttf');
}