<section id="main-web" class="main-web">
    <div  class="web" v-if="window.width > 1023">
        <div class="web-tentacle">
            <img src="img/svg/tentacle_static.svg" width="100%" alt="" v-if="isSafary">
            <img src="img/svg/tentacle.svg" width="100%" alt="" v-else>
        </div>
        <div class="web-data">
            <div class="web-data-in">
                <div class="web-subtitles">
                    <div class="web-subtitle" data-item-id="0">
                        Аутстаф IT персонала
                    </div>
                    <div class="web-subtitle" data-item-id="1">
                        Аутстаф IT персонала
                    </div>
                    <div class="web-subtitle" data-item-id="2">
                        Web разработка 
                    </div>
                </div>
                <div class="web-titles">
                    <div class="web-title" data-item-id="0">
                        Web разработка 1
                    </div>
                    <div class="web-title" data-item-id="1">
                        Аутстаф IT персонала
                    </div>
                    <div class="web-title" data-item-id="2">
                        Аутстаф IT персонала
                    </div>
                </div>
                <div class="web-texts">
                    <div class="web-text" data-item-id="0">
                        Это прогрессивное дизайнерское агентство, обладающее техническими и творческими навыками, чтобы воплотить ваш бренд стал лучше. Наш подход к дизайну и разработке создает впечатляющие, привлекательные бренды, которые возвращают вам творческий потенциал.
                    </div>
                    <div class="web-text" data-item-id="1">
                        Это прогрессивное дизайнерское агентство, обладающее техническими и творческими навыками, чтобы воплотить ваш бренд стал лучше. Наш подход к дизайну и разработке создает впечатляющие, привлекательные бренды, которые возвращают вам творческий потенциал.
                        Это прогрессивное дизайнерское агентство, обладающее техническими и творческими навыками, чтобы воплотить ваш бренд стал лучше. Наш подход к дизайну и разработке создает впечатляющие, привлекательные бренды, которые возвращают вам творческий потенциал.
                    </div>
                    <div class="web-text" data-item-id="2">
                        Это прогрессивное дизайнерское агентство, обладающее техническими и творческими навыками, чтобы воплотить ваш бренд стал лучше. Наш подход к дизайну и разработке создает впечатляющие, привлекательные бренды, которые возвращают вам творческий потенциал.
                        Это прогрессивное дизайнерское агентство, обладающее техническими и творческими навыками, чтобы воплотить ваш бренд стал лучше. Наш подход к дизайну и разработке создает впечатляющие, привлекательные бренды, которые возвращают вам творческий потенциал.
                    </div>
                </div>
                <div class="web-buttons">
                    <a href="#" class="btn btn--pink web-button" data-item-id="0">
                        <div class="btn__content">
                            <span class="btn__text">Подробнее</span>
                        </div>
                    </a>
                    <a href="#" class="btn btn--pink web-button" data-item-id="1">
                        <div class="btn__content">
                            <span class="btn__text">Подробнее</span>
                        </div>
                    </a>
                    <a href="#" class="btn btn--pink web-button" data-item-id="2">
                        <div class="btn__content">
                            <span class="btn__text">Подробнее</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="web-images">
            <div class="web-right-image" data-item-id="0">
                <img src="https://picsum.photos/1900" alt="">
            </div>
            <div class="web-right-image" data-item-id="1">
                <img src="https://picsum.photos/1910" alt="">
            </div>
            <div class="web-right-image" data-item-id="2">
                <img src="https://picsum.photos/1920" alt="">
            </div>
        </div>
    </div>
    
    <div class="web" :class="{'mobile': window.width <=1023}" v-if="window.width <= 1023">
        <div class="web-slider">
            <div class="web-slider-arrows" data-glide-el="controls">
                <button class="web-slider-arrow web-slider-arrow--prev" data-glide-dir="<">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 89 38" fill="#121423"><path d="M87.7678 20.7678C88.7441 19.7914 88.7441 18.2085 87.7678 17.2322L71.8579 1.32232C70.8816 0.346014 69.2986 0.346014 68.3223 1.32232C67.346 2.29864 67.346 3.88155 68.3223 4.85786L82.4645 19L68.3223 33.1421C67.346 34.1184 67.346 35.7014 68.3223 36.6777C69.2986 37.654 70.8816 37.654 71.8579 36.6777L87.7678 20.7678ZM2.18557e-07 21.5L86 21.5L86 16.5L-2.18557e-07 16.5L2.18557e-07 21.5Z"></path></svg>
                </button>
                <button class="web-slider-arrow web-slider-arrow web-slider-arrow--next" data-glide-dir=">">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 89 38" fill="#121423"><path d="M87.7678 20.7678C88.7441 19.7914 88.7441 18.2085 87.7678 17.2322L71.8579 1.32232C70.8816 0.346014 69.2986 0.346014 68.3223 1.32232C67.346 2.29864 67.346 3.88155 68.3223 4.85786L82.4645 19L68.3223 33.1421C67.346 34.1184 67.346 35.7014 68.3223 36.6777C69.2986 37.654 70.8816 37.654 71.8579 36.6777L87.7678 20.7678ZM2.18557e-07 21.5L86 21.5L86 16.5L-2.18557e-07 16.5L2.18557e-07 21.5Z"></path></svg>
                </button>
            </div> 
            <div class="glide__track web-slider-track" data-glide-el="track">
                <ul class="glide__slides">
                    @@for (var i = 0; i < 4; i++) {
                        <li class="glide__slide web-slider-item">
                            <div class="web-slider-image">
                                <div class="web-slider-image-in">
                                    <img src="https://picsum.photos/190`+ i +`" width="100%" height="100%" alt="">
                                </div>
                            </div>
                            <div class="web-slider-title">
                                Web разработка
                            </div>
                            <div class="web-slider-text">
                                Это прогрессивное дизайнерское агентство, обладающее техническими и творческими навыками, чтобы воплотить ваш бренд стал лучше. Наш подход к дизайну и разработке создает впечатляющие, привлекательные бренды, которые возвращают вам творческий потенциал.
                            </div>
                            <div class="web-slider-button">
                                <button class="btn btn--pink web-button" :class="{'mobile': window.width <=1023}" data-item-id="1">
                                    <div class="btn__content">
                                        <span class="btn__text">Стать клиентом</span>
                                    </div>
                                </button>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>