.web {
  padding: 0 0 vw(156) 0;
  position: relative;
  &-tentacle {
    position: absolute;
    z-index: 1;
    left: 0;
    top: vw(-221);
    width: vw(1226);
    pointer-events: none;
  }
  &-data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 2;
    padding-top: vw(256);
    box-sizing: border-box;
  }
  &-data-in {
    width: 100%;
    padding-left: vw(50);
    padding-right: vw(400);
    box-sizing: border-box;
  }
  &-subtitles {
    position: relative;
    height: vw(30);
    margin-bottom: vw(30);
    overflow: hidden;
  }
  &-subtitle {
    font-size: vw(30);
    line-height: vw(30);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend %white;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.7s ease;
    &.isActive {
      transition: 0.7s all 0.7s ease;
      transform: translateY(0);
      opacity: 1;
    }
  }
  &-titles {
    position: relative;
    height: vw(100);
    margin-bottom: vw(30);
    overflow: hidden;
  }
  &-title {
    font-weight: bold;
    font-size: vw(120);
    line-height: vw(100);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend %white;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.7s ease;
    &.isActive {
      transition: 0.7s all 0.7s ease;
      transform: translateY(0);
      opacity: 1;
    }
  }
  &-texts {
    width: vw(810);
    height: vw(300);
    position: relative;
    overflow: hidden;
  }
  &-text {
    font-size: vw(30);
    line-height: vw(50);
    max-height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend %white;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.7s ease;
    &.isActive {
      transition: 0.7s all 0.7s ease;
      transform: translateY(0);
      opacity: 1;
    }
  }
  &-buttons {
    width: vw(272);
    margin-top: vw(70);
    height: vw(85);
    position: relative;
    overflow: hidden;
  }
  &-button {
    height: vw(85);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.7s ease;
    &.isActive {
      transition: 0.7s all 0.7s ease;
      transform: translateY(0);
      opacity: 1;
    }
  }
  &-right-image {
    height: 100vh;
  }
  &-images {
    padding-left: vw(951);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
}
