.main-carousel {
  position: relative;
  z-index: 0;
  padding: vw(50);
  box-sizing: border-box;
  background: #fff;
  &__title {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: vw(200);
    line-height: vw(200);
    margin-bottom: vw(400);
    color: #4f4f4f;
  }
  &__body {
    display: flex;
    align-items: center;
  }
  &__carousel {
    transform-style: preserve-3d;
    transform-origin: center;
    animation: animate 40s linear infinite;
    position: absolute;
    top: vw(718);
    left: vw(-100);
    width: vw(200);
    height: vw(200);
    &__item {
      position: absolute;
      border: vw(1) solid #ff4978;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      font-size: 0;
      background: #000;
      // backface-visibility: hidden;
      overflow: hidden;
      transform-style: preserve-3d;
      transform-origin: 50% 50%;
      transform: rotateY(calc(var(--index) * 18deg)) translateZ(#{vw(650)});
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }
  &__text {
    padding-left: vw(950);
    .title {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: vw(50);
      line-height: vw(70);
      text-transform: uppercase;
      margin-bottom: vw(50);
      color: #ff4978;
    }
    .text {
      font-family: "Montserrat";
      font-size: vw(30);
      line-height: vw(50);
      color: #4f4f4f;
    }
  }
}

@keyframes animate {
  0% {
    transform: perspective(#{vw(930)}) rotateY(0) rotateZ(2deg);
  }
  100% {
    transform: perspective(#{vw(930)}) rotateY(360deg) rotateZ(2deg);
  }
}
