.main-carousel {
  position: relative;
  z-index: 0;
  padding: vw(50);
  box-sizing: border-box;
  background: #fff;
  &__title {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: vw(200);
    line-height: vw(200);
    margin-bottom: vw(400);
    color: #4f4f4f;
  }
  &__body {
    display: flex;
    align-items: center;
  }
  // .carousel-options {
  //   position: absolute;
  //   right: 0;
  //   bottom: 0;
  //   z-index: 3;
  //   display: none;
  // }
&-scene {
  position: absolute;
  bottom: 0;
  width: vw(530);
  height: vw(650);
  perspective: 1000px;
}
  &-carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  &-cell {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: vw(10);
    box-sizing: border-box;
    
    transition: transform 1s, opacity 1s;
    cursor: pointer;
  }
  &-cell-image {
    pointer-events: none;
    width: 100%;
    height: 100%;
    border: vw(2) solid $mainColor;
    font-size: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-cell-text {
    pointer-events: none;
    position: absolute;
    left: vw(45);
    top: vw(45);
    font-weight: bold;
    font-size: vw(80);
    line-height: vw(80);
    text-transform: uppercase;

    @extend %white;
  }
  &-cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
  &-cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
  &-cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
  &-cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
  &-cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
  &-cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
  &-cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
  &-cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
  &-cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }
  &__text {
    padding-left: vw(950);
    .title {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: vw(50);
      line-height: vw(70);
      text-transform: uppercase;
      margin-bottom: vw(50);
      color: #ff4978;
    }
    .text {
      font-family: "Montserrat";
      font-size: vw(30);
      line-height: vw(50);
      color: #4f4f4f;
    }
  }
}