<section class="main-carousel" :class="{'mobile': window.width <=1023}">
    <div class="main-carousel__title">Награды</div>
    <div class="main-carousel__body">
        <div class="main-carousel-scene">
            <div class="main-carousel-carousel">
              @@for (var i = 1; i < 8; i++) {
                <div class="main-carousel-cell" data-cell-index="`+ i +`">
                  <div class="main-carousel-cell-text">`+ i +`</div>
                  <div class="main-carousel-cell-image">
                    <img src="https://picsum.photos/600/800?random=`+ i +`" alt="">
                  </div>
                </div>
              }
                
            </div>
        </div>
        
        <div class="glide main-carousel__text">
          <div class="main-carousel__text-item">
            <div class="main-carousel__text-item_titles">
              @@for (var i = 0; i < 8; i++) {
                <div class="title" data-title-id="`+ i +`">Высший грейд А+ RUWARD в заказной разработке</div>
              }
            </div>
            <div class="main-carousel__text-item_texts">
              @@for (var i = 0; i < 8; i++) {
                <div class="text" data-text-id="`+ i +`">
                  Отмечена центром сертификации наивысшим рейтингом. Отмечена центром сертификации наивысшим рейтингом
                </div>
              }
            </div>
            <div class="main-carousel__text-item_gifts">
              @@for (var i = 0; i < 8; i++) {
                <div class="gift" data-gift-id="`+ i +`">
                  <div class="gift_in">
                    <div class="left">
                      <div class="badge">120</div>
                    </div>
                    <div class="right">Награды</div>
                  </div>
                </div>
              }
            </div>
            <div class="main-carousel__arrows">
              <div class="main-carousel__arrow main-carousel__arrow--prev previous-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 89 38" fill="#121423"><path d="M87.7678 20.7678C88.7441 19.7914 88.7441 18.2085 87.7678 17.2322L71.8579 1.32232C70.8816 0.346014 69.2986 0.346014 68.3223 1.32232C67.346 2.29864 67.346 3.88155 68.3223 4.85786L82.4645 19L68.3223 33.1421C67.346 34.1184 67.346 35.7014 68.3223 36.6777C69.2986 37.654 70.8816 37.654 71.8579 36.6777L87.7678 20.7678ZM2.18557e-07 21.5L86 21.5L86 16.5L-2.18557e-07 16.5L2.18557e-07 21.5Z"></path></svg>
              </div>
              <div class="main-carousel__arrow main-carousel__arrow--next next-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 89 38" fill="#121423"><path d="M87.7678 20.7678C88.7441 19.7914 88.7441 18.2085 87.7678 17.2322L71.8579 1.32232C70.8816 0.346014 69.2986 0.346014 68.3223 1.32232C67.346 2.29864 67.346 3.88155 68.3223 4.85786L82.4645 19L68.3223 33.1421C67.346 34.1184 67.346 35.7014 68.3223 36.6777C69.2986 37.654 70.8816 37.654 71.8579 36.6777L87.7678 20.7678ZM2.18557e-07 21.5L86 21.5L86 16.5L-2.18557e-07 16.5L2.18557e-07 21.5Z"></path></svg>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-options">
          <p>
            <label>
              Картинок: 
              <input class="cells-range" type="range" min="3" max="11" value="7" />
            </label>
          </p>
          <p>
            <button class="previous-button">Пред</button>
            <button class="next-button">След</button>
          </p>
          <p>
            Orientation:
            <label>
              <input type="radio" name="orientation" value="horizontal" checked />
              horizontal
            </label>
            <label>
              <input type="radio" name="orientation" value="vertical" />
              vertical
            </label>
          </p>
        </div>
    </div>
</section>