.contacts-info {
    
    position: relative;
    z-index: 7;
    &:not(.mobile) {
        padding: 0 vw(50) vw(100);
        display: flex;
        align-items: flex-start;
    }
    &.mobile {
        padding: 0 20px 100px;
    }
    
    &:not(.mobile) &-left {
        width: vw(638);
        margin-right: vw(109);
    }
    &.mobile &-left {
        width: 100%;
        margin-bottom: 70px;
    }
    &-right {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(146, 146, 146, 0.85);
            z-index: 1;
        }
    }
    &:not(.mobile) &-right {
        width: calc(100% - #{vw(747)});
        height: vw(457);
        &::after {
            transform: translateX(#{vw(50)}) translateY(#{vw(50)});
        }
    }
    &.mobile &-right {
        width: 100%;
        padding-top: 70vw;
        position: relative;
        &::after {
            transform: translateX(20px) translateY(20px);
        }
    }
    &-map {
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    &:not(.mobile) &-map {
        position: relative;
    }
    &.mobile &-map {
        position: absolute;
        top: 0;
        left: 0;
    }
    &-phones {
        a {
            display: block;
            font-weight: bold;
            color: $mainColor;
            text-decoration: none;
        }
    }
    &:not(.mobile) &-phones {
        margin-bottom: vw(100);
        a {
            font-size: vw(50);
            line-height: vw(55);
            &:not(:last-child) {
                margin-bottom: vw(21);
            }
        }
    }
    &.mobile &-phones {
        margin-bottom: 70px;
        a {
            font-size: 30px;
            line-height: 30px;
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
    &-text,
    &-address {
        font-weight: 500;
        
        @extend %white;
        .links a {
            color: inherit;
            text-decoration: none;
            display: block;
        }
    }
    &:not(.mobile) &-text,
    &:not(.mobile) &-address {
        font-size: vw(30);
        line-height: vw(50);
        margin-bottom: vw(80);
        .links a {
            &:not(:last-child) {
                margin-bottom: vw(20);
            }
        }
    }
    &.mobile &-text,
    &.mobile &-address {
        font-size: 20px;
        line-height: 30px;
        .links a {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    &:not(.mobile) &-address {
        margin-bottom: vw(30);
    }
    &.mobile &-address {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &-link {
        font-weight: 500;
        text-decoration-line: underline;
        color: $mainColor;
    }
    &:not(.mobile) &-link {
        font-size: vw(30);
        line-height: vw(40);
    }
    &.mobile &-link {
        font-size: 20px;
        line-height: 30px;
    }
}