.satepai {
    background: linear-gradient(0deg, #F2F4F6, #F2F4F6);
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: all .6s ease;
    }
    &__ring {
        width: vw(385);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
        transition: all .6s ease;
        // mix-blend-mode: darken;
    }
    &__diamond {
        width: vw(174);
        position: absolute;
        left: calc(50% - #{vw(12)});
        top: -100%;
        transform: translateX(-50%) rotate(0deg);
        transition: all .6s ease;
        // mix-blend-mode: darken;
    }
    &:hover &__overlay,
    &.mobile &__overlay {
        opacity: 1;
    }
    &:not(.mobile):hover &__diamond {
        top: vw(185);
    }
    &.mobile &__diamond {
        width: 58px;
        top: calc(50% - 58px);
        left: calc(50% - 5px);
    }
    &.mobile &__ring {
        width: 128px;
    }
    // &:hover &__image {
    //     transform: translateX(-50%) translateY(-50%) rotate(90deg);
    // }  
}