.career {
    .company-reviews-arrows {
        justify-content: space-between;
        max-width: 241px;
        width: 100%;
        button {
            width: 86px;
            height: 33px;
        }
    }
}
.career-blog {
    position: relative;
    overflow: hidden;
    &:not(.mobile) {
        background: #fff;
        padding: vw(100) vw(50) vw(230);
    }
    &.mobile {
        padding: 0 20px 200px 20px;
        position: relative;
        z-index: 7;
    }
    &.mobile &-button button {
        margin: 0 auto;
    }
    &-title {
        text-transform: uppercase;
        color: $bgColor;
    }
    &:not(.mobile) &-title {
        margin-bottom: vw(40);
    }
    &.mobile &-title {
        margin-bottom: 73px;
        font-size: 35px;
        line-height: 45px;
        text-transform: uppercase;
    }
    &.mobile &-buttons-left {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        overflow: auto;
        &::-webkit-scrollbar {
            height: 0;
        }
    }
    &-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &:not(.mobile) &-buttons {
        margin-bottom: vw(60);
    }
    &.mobile &-buttons {
        margin-bottom: 30px;
    }
    &.mobile .news-and-trends-button {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        padding: 14px 30px;
        border-radius: 10px;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    &-items-slides {
        position: relative;
        z-index: 9;
    }
    &:not(.mobile) &-items-slides {
        align-items: center;
    }
    &.mobile &-items-slides {
        display: block;
    }
    &-item {
        text-decoration: none;
        display: block;
        &:hover {
            text-decoration: none !important;
            .career-blog-item-title {
                text-decoration: underline;
            }
        }
    }
    &.mobile &-item {
        border-radius: 10px;
        &:not(:last-child) {
            margin-bottom: 60px;
        }
        &:nth-child(n+4) {
            display: none;
        }
    }
    &-item-image {
        font-size: 0;        
    }
    &:not(.mobile) &-item-image {
        margin-bottom: vw(30);
        padding-top: 56.6%;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &.mobile &-item-image {
        padding-top: 100%;
        position: relative;
        margin-bottom: 30px;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-item-date {
        font-weight: 300;
        color: $bgColor;
    }
    &:not(.mobile) &-item-date {
        font-size: vw(20);
        line-height: vw(20);
        margin-bottom: vw(10);
        color: #fff;
    }
    &.mobile &-item-date {
        display: none;
    }
    &-item-title {
        font-weight: 600;
        // color: $mainColor;
        color: #fff;
    }
    &:not(.mobile) &-item-title {
        font-size: vw(30);
        line-height: vw(42);
        margin-bottom: vw(10);
    }
    &.mobile &-item-title {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 15px;
    }
    &-item[data-ctegory="team"], &-item[data-ctegory="team"] &-item-title {
        // color: $mainColor !important;
        color: #fff;
    }
    &-item[data-ctegory="development"], &-item[data-ctegory="development"] &-item-title {
        // color: #00B4A9 !important;
        color: #fff;
    }
    &-item-description {
        font-weight: 300;
        margin: 0;
        // color: $bgColor;
        color: #fff;
    }
    &:not(.mobile) &-item-description {
        font-size: vw(25);
        line-height: vw(40);
    }
    &.mobile &-item-description {
        font-size: 16px;
        line-height: 16px;
        mix-blend-mode: difference;
    }
    &:not(.mobile) .company-reviews-arrows {
        max-width: 50%;
        justify-content: flex-end;
        margin-right: vw(-45);
        button {
            max-width: vw(97);
            padding-left: vw(45);
            padding-right: vw(45);
            width: 100%;
            svg {
                fill: #121423;
            }
        }
    }
    .company-reviews-arrows {
        max-width: 241px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        button {
            max-width: 89px;
            width: 100%;
        }
    }
    &.mobile .company-reviews-arrows {
        display: none;
    }
}

.company .career-blog:not(.mobile) {
    padding: vw(100) vw(50) vw(200);
}

.career-page .career-blog,
.career .career-blog {
    &-item-date {
        display: block;
        margin-bottom: vw(10) !important;
    }
    &-item-date,
    &-item-title,
    &-item-description {
        color: #121423 !important;
    }
}
@media all and (max-width: 1023px) {
    .career-page .career-blog {
        .career-blog-item:nth-child(3) .career-blog-item-date,
        .career-blog-item:nth-child(3) .career-blog-item-title,
        .career-blog-item:nth-child(3) .career-blog-item-description {
            color: #fff !important;
        }
    }
}

.company .footer:not(.mobile) .footer-tentacle {
    transform: scale(1) !important;
}