.company-partners {
    padding: vw(130) 0;
    overflow: hidden;
    position: relative;
    &-slider {
        position: static;
    }
    &-track {
        font-size: 0;
    }
    &-title {
        mix-blend-mode: difference;
        white-space: nowrap;
        margin-bottom: vw(70);
        @extend %white;
    }
    &-item {
        padding: vw(71);
        margin: 0;
        @extend %transition;
        &:hover {
            background: #fff;
        }
    }
    &-item-title {
        mix-blend-mode: difference;
        margin-bottom: vw(30);
        font-weight: bold;
        font-size: vw(120);
        line-height: vw(100);
        text-transform: uppercase;
        @extend %white;
    }
    &-item-text {
        mix-blend-mode: difference;
        font-weight: normal;
        font-size: vw(30);
        line-height: vw(50);
        @extend %white;
    }
    &-arrows {
        position: absolute;
        // top: calc(100% + #{vw(70)});
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        background: #fff;
        button {
            position: static;
        }
    }
    &-arrow {
        border: none;
        background: none;
        font-size: 0;
        display: block;
        cursor: pointer;
        width: vw(89);
        height: vw(38);
        padding: vw(50);
        box-sizing: content-box;

        &:hover {
            svg {
                fill: $mainColor;
            }
        }

        &--prev {
            transform: rotate(180deg);
        }
    }
}