.homeoutlet {
    background: #76B3AC url('../img/homeoutlet.png') 50% 50%/cover no-repeat;
    &:hover,
    &.mobile {
        background: #E5E5E5 url('../img/homeoutlet_hover.png') 50% 50%/cover no-repeat;
    } 
}