<section class="main-cases" :class="{'mobile': window.width <=1023}">
    <div class="main-cases-bg" v-if="false"></div>
    <h1 class="main-cases-title">
        Кейсы
    </h1>
    <div class="main-cases-items" v-if="window.width > 1023">
        <!-- <div class="main-cases-items-in" style="--count: 7;">
            @@for (var i = 0; i < 7; i++) {
                <a href="#" class="main-cases-item">
                    <div class="image" style="--image: url('https://picsum.photos/30`+ i +`')">
                        <img src="https://picsum.photos/30`+ i +`" width="100%" alt="">
                    </div>
                    <div class="title">Название проекта</div>
                    <div class="text">Краткое описание</div>
                </a>
            }
        </div>
        <div class="main-cases-items-scroller" style="height: 250vh;"></div> -->
        <div class="cases__items" :class="{'mobile': window.width <=1023}">
            @@include("../cases/careof/index.html")
            @@include("../cases/zorge/index.html")
            @@include("../cases/bioline/index.html")
            <!-- @@include("../cases/medex/index.html") -->
            @@include("../cases/malina/index.html")
            @@include("../cases/mmcite/index.html")
            @@include("../cases/mukomol/index.html")
            <!-- @@include("../cases/happybaby/index.html")
            @@include("../cases/fieldwire/index.html")
            @@include("../cases/englex/index.html")
            @@include("../cases/foodband/index.html")
            @@include("../cases/mosplita/index.html")
            @@include("../cases/ast/index.html")
            @@include("../cases/stroydvor/index.html")
            @@include("../cases/utilico/index.html")
            @@include("../cases/homeoutlet/index.html")
            @@include("../cases/lonmadi/index.html")
            @@include("../cases/intacto/index.html")
            @@include("../cases/promprint/index.html")
            @@include("../cases/frost/index.html")
            @@include("../cases/satepai/index.html")
            @@include("../cases/napopravku/index.html")
            @@include("../cases/selis/index.html")
            @@include("../cases/karta/index.html") -->
        </div>
    </div>
    <div class="main-cases-items main-cases-slider" v-if="window.width <= 1023">
        <div class="glide__track  main-cases-items-in" data-glide-el="track">
            <div class="glide__slides">
                @@for (var i = 0; i < 7; i++) {
                    <a href="#" class="main-cases-item">
                        <div class="image" style="--image: url('https://picsum.photos/30`+ i +`')">
                            <img src="https://picsum.photos/30`+ i +`" width="100%" alt="">
                        </div>
                        <div class="title">Название проекта</div>
                        <div class="text">Краткое описание</div>
                    </a>
                }
            </div>
        </div>
        <div class="web-slider-arrows" data-glide-el="controls">
            <button class="web-slider-arrow web-slider-arrow--prev" data-glide-dir="<">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 89 38" fill="#121423"><path d="M87.7678 20.7678C88.7441 19.7914 88.7441 18.2085 87.7678 17.2322L71.8579 1.32232C70.8816 0.346014 69.2986 0.346014 68.3223 1.32232C67.346 2.29864 67.346 3.88155 68.3223 4.85786L82.4645 19L68.3223 33.1421C67.346 34.1184 67.346 35.7014 68.3223 36.6777C69.2986 37.654 70.8816 37.654 71.8579 36.6777L87.7678 20.7678ZM2.18557e-07 21.5L86 21.5L86 16.5L-2.18557e-07 16.5L2.18557e-07 21.5Z"></path></svg>
            </button>
            <button class="web-slider-arrow web-slider-arrow web-slider-arrow--next" data-glide-dir=">">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 89 38" fill="#121423"><path d="M87.7678 20.7678C88.7441 19.7914 88.7441 18.2085 87.7678 17.2322L71.8579 1.32232C70.8816 0.346014 69.2986 0.346014 68.3223 1.32232C67.346 2.29864 67.346 3.88155 68.3223 4.85786L82.4645 19L68.3223 33.1421C67.346 34.1184 67.346 35.7014 68.3223 36.6777C69.2986 37.654 70.8816 37.654 71.8579 36.6777L87.7678 20.7678ZM2.18557e-07 21.5L86 21.5L86 16.5L-2.18557e-07 16.5L2.18557e-07 21.5Z"></path></svg>
            </button>
        </div> 
    </div>
</section>