.first-screen {
    position: relative;
}

.first-screen__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: vw(313);

    &.isTable {
        padding-top: 155px;
        padding-bottom: 65px;
    }

    &.isMobile {
        padding-top: 215px;
        padding-bottom: 55px;
    }
}

.first-screen__content-box {
    position: relative;
    width: 100%;
}

.first-screen__tentacles {
    position: absolute;
    top: vw(-110);
    left: -100%;
    width: 50%;
    min-width: 295px;

    &.isMobile {
        top: -30px;
    }
}

.first-screen__top-box {
    display: flex;
    align-items: center;
    padding-left: vw(60);
    margin-right: 28.07%;
    margin-bottom: vw(85);
    max-width: 100%;

    &.isMobile {
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 10px;
        margin-right: 0;
    }
}

.first-screen__integr {
    position: relative;
    width: 56.69%;
}

.first-screen__ator {
    width: 42.48%;
}

.first-screen__bottom-box {
    display: flex;
    align-items: flex-start;
    padding-left: vw(60);
    position: relative;
    padding-bottom: vw(144);

    &.isMobile {
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 20px;
    }
}

.first-screen__web {
    margin-right: vw(143);
    width: 55.74%;

    &.isMobile {
        margin-right: 0;
        margin-bottom: 13px;
    }
}

.first-screen__img {
    max-width: 90%;

    &.isTable {
        margin-bottom: 40px;
    }

    &.isMobile {
        max-width: calc(100% - 25px);
        margin-bottom: 13px;
    }
}

.first-screen__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-end;
    top: vw(10);
    flex-shrink: 0;

    &.isTable {
        align-self: flex-start;
        padding-left: 88px;
    }

    &.isMobile {
        justify-content: center;
        align-items: center;
        align-self: center;
    }
}

.first-screen__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: vw(40);
    line-height: vw(50);
    color: $white;
    margin-bottom: vw(50);
    max-width: vw(536);

    &.isTable {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 24px;
        max-width: 405px;
    }

    &.isMobile {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 16px;
        max-width: 205px;
    }
}

.first-screen__btn {
    .btn__text {
        position: relative;
        font-size: vw(25);
        line-height: vw(25);
        z-index: 1;
    }

    &.isTable,
    &.mobile {
        .btn__text {
            font-size: 24px;
            line-height: 25px;
        }
    }

    &:hover {
        color: $wildWatermelon;
    }
}