.intacto {
    background: #100E0C;
    // &.mobile &__image {
    //     opacity: 1;
    //     width: 120px;
    // }
}
.intacto__image {
    width: vw(252);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    // opacity: .1;
    // transition: all .6s ease;
}
.right_leg {
    transform: translateY(100%);
    transition: transform .3s ease;
}
.center_leg {
    transform: translateY(-100%) translateX(-100%);
    transition: .3s transform .3s ease;
}
.left_leg {
    transform: translateY(-100%);
    transition: .3s transform 0.6s ease;
}
.leg {  
    transform-box: fill-box;
    transform-origin: 50% 0;
}
.intacto:hover .right_leg {
    transform: translateY(0);
    transition: .6s transform 1.2s ease;
}
.intacto:hover .center_leg {
    transform: translateY(0) translateX(0);
    transition: .6s transform .6s ease;
}
.intacto:hover .left_leg {
    transform: translateY(0);
    transition: transform .6s ease;
}
.intacto.mobile .leg {
    transform: translateY(0) translateX(0) !important;
}