.footer {
    padding: vw(238) 0 vw(80) 0;
    background: #fff;
    position: relative;
    &-tentacle {
        position: absolute;
        top: vw(-700);
        left: 0;
        right: 0;
    }
    &-in {
        padding-right: vw(78);
        padding-left: vw(139);
        position: relative;
        z-index: 4;
        display: grid;
        grid-template-columns: vw(639) vw(111) vw(58) vw(390) vw(92) vw(135) vw(100) vw(66) vw(102);
        grid-template-rows: auto vw(62) auto vw(80) auto vw(20) auto vw(30) vw(20) auto;
    }
    &-menu {
        ul {
            list-style: none;
        }
        a {
            text-decoration: none;
            color: inherit;
            display: block;
        }
    }
    &-menu-title {
        font-weight: bold;
        font-size: vw(30);
        line-height: vw(30);
        color: #4F4F4F;
        margin-bottom: vw(40);
    }
    &-menu-item {
        font-weight: 500;
        font-size: vw(25);
        line-height: vw(25);
        color: #4F4F4F;
        &:not(:last-child) {
            margin-bottom: vw(20);
        }
    }
    &-info {
        display: flex;
        align-items: flex-start;
        .icon {
            width: vw(29);
            height: vw(27);
            margin-right: vw(30);
            padding-top: vw(6);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .text {
            width: calc(100% - #{vw(59)});
            font-weight: 500;
            font-size: vw(30);
            line-height: vw(45);
            color: #4F4F4F;
            a {
                text-decoration: none;
                color: inherit;
            }
        }
        a.text {
            color: $mainColor;
        }
    }
    &-menu-first {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 4;
        grid-column-end: 5;
    }
    &-menu-second {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 6;
        grid-column-end: 7;
    }
    &-menu-third {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 8;
        grid-column-end: 9;
    }
    &-phones {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 4;
        grid-column-end: 6;
        a {
            display: block;
            font-weight: bold;
            font-size: vw(50);
            line-height: vw(55);
            color: #FF4978;
            text-decoration: none;
            &:not(:last-child) {
                margin-bottom: vw(20);
            }
        }
    }
    &-social {
        display: block;
        width: vw(102);
        height: vw(102);
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid $mainColor;
        &:not(:last-child) {
            margin-bottom: vw(50);
        }
        &, svg  {
            @extend %transition;
        }
        &:hover {
            background: $mainColor;
            svg {
                fill: #fff;
            }
        }
    }
    &-address {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    &-presentation {
        grid-row-start: 7;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    &-bank {
        grid-row-start: 10;
        grid-row-end: 11;
        grid-column-start: 1;
        grid-column-end: 2;
        position: relative;
        & .copy {
            position: absolute;
            top: 0;
            right: vw(-20);
            width: vw(30);
            height: vw(30);
            padding-top: vw(6);
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            @extend %transition;
        }
        &:hover .copy {
            opacity: 1;
            visibility: visible;
        }
    }
    &-bookkeeping {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 3;
        grid-column-end: 6;
    }
    &-email {
        grid-row-start: 7;
        grid-row-end: 8;
        grid-column-start: 3;
        grid-column-end: 6;
    }
    &-socials {
        grid-row-start: 3;
        grid-row-end: 9;
        grid-column-start: 9;
        grid-column-end: 10;
    }
}