.footer {
    position: relative;
    background: #fff;
    padding: vw(238) 0 vw(80) 0;
    z-index: 4;

    &.mobile {
        padding: 100px 0 38px;
    }
    &-tentacle {
        position: absolute;
        right: 0;
        left: 0;
    }
    &:not(.mobile) &-tentacle {
        top: -39.020833vw;
    }
    @media all and (min-width: 1024px) {
        &-tentacle {
            transform: scale(1.1);
        }
    }
    @media all and (max-width: 1023px) {
        &-tentacle {
            bottom: calc(100% - 450px);
            transform: rotateY(180deg);
            z-index: 3;
        }
    }
    @media all and (max-width: 1023px) {
        &-tentacle {
            bottom: calc(100% - 380px);
            transform: rotateY(180deg);
            z-index: 3;
        }
    }
    @media all and (max-width: 840px) {
        &-tentacle {
            bottom: calc(100% - 310px);
            transform: rotateY(180deg);
            z-index: 3;
        }
    }
    @media all and (max-width: 640px) {
        &-tentacle {
            bottom: calc(100% - 240px);
            transform: rotateY(180deg);
            z-index: 3;
        }
    }
    @media all and (max-width: 420px) {
        &-tentacle {
            bottom: calc(100% - 190px);
            transform: rotateY(180deg);
            z-index: 3;
        }
    }
    &__content {
        padding-right: vw(78);
        padding-left: vw(139);
        position: relative;
        z-index: 4;
        display: grid;
        grid-template-columns: auto max-content;
        grid-template-rows: repeat(4, max-content);
        grid-gap: vw(50) 0;

        &.mobile {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, max-content);
            padding-left: 16px;
            padding-right: 16px;
            grid-gap: 20px 0;
        }
    }

    &__list-menu {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-gap: 0 vw(105);
        grid-column: 2;
        grid-row: 1;
        margin-bottom: vw(40);

        &.mobile {
            grid-template-columns: repeat(2, max-content);
            grid-template-rows: repeat(2, max-content);
            grid-gap: 32px 48px;
            grid-column: 1;
            grid-row: 1;
            margin-bottom: 4px;
        }
    }

    &-menu-first {
        grid-column: 1;

        &.mobile {
            grid-column: 1 / -1;
            grid-row: 1;
        }
    }

    &-menu-second {
        grid-column: 2;

        &.mobile {
            grid-column: 1;
            grid-row: 2;
        }
    }

    &-menu-third {
        grid-column: 3;

        &.mobile {
            grid-column: 2;
            grid-row: 2;
        }
    }

    &-menu {
        ul {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: inherit;
            display: inline-block;
        }

        &.mobile {
            .footer-menu-title {
                font-size: 20px;
                margin-bottom: 20px;
            }

            .footer-menu-item {
                font-size: 16px;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    &-menu-title {
        font-weight: bold;
        color: #121423;
        font-size: vw(30);
        line-height: 150%;
        margin-bottom: vw(40);
    }

    &-menu-item {
        font-weight: 500;
        color: #121423;
        font-size: vw(25);
        line-height: 160%;

        &:hover a {
            text-decoration: none !important;
        }

        &:not(:last-child) {
            margin-bottom: vw(20);
        }
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-gap: 0 vw(64);
        grid-column: 1 / -1;
        grid-row: 4;

        &.mobile {
            grid-template-columns: 1fr;
            grid-gap: 20px 0;
            grid-column: 1;
            grid-row: 4;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
    }

    &-info {
        display: flex;
        align-items: flex-start;
        margin-bottom: vw(4);

        &__column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            &:first-child {
                flex-shrink: 0;
            }
        }

        &__row {
            display: flex;
            align-items: center;
            margin-bottom: vw(4);

            &:last-child {
                margin-bottom: 0;
            }

            &.mobile {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__icon {
            position: relative;
            width: vw(29);
            height: vw(27);
            margin-right: vw(30);
            top: vw(5);

            &.mobile {
                top: 3px;
                width: auto;
                max-width: 25px;
                height: auto;
                margin-right: 15px;
            }
        }

        &__title,
        &__text {
            font-size: vw(25);
            line-height: 160%;
            color: #1B1D30;
            text-decoration: none;

            &.mobile {
                font-size: 14px;
            }
        }

        &__title {
            margin-right: vw(5);

            &.mobile {
                margin-right: 0;
            }
        }

        &__text {
            max-width: vw(472);

            &--link {
                text-decoration: underline;
            }

            &--pink {
                color: $mainColor;
            }

            &.mobile {
                max-width: unset;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.mobile {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    div.footer-phones {
        display: flex;
        justify-content: flex-start;
        grid-column: 2;
        grid-row: 2;
        padding: 0;

        .footer-phone {
            display: block;
            font-weight: bold;
            color: #FF4978;
            text-decoration: none;
            font-size: vw(50);
            line-height: vw(55);
        }

        &.mobile {
            grid-column: 1;
            grid-row: 2;
            padding: 0;

            .footer-phone {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }

    &-socials {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        grid-column: 2;
        grid-row: 3;
        margin-bottom: vw(5);

        &.mobile {
            grid-column: 1;
            grid-row: 3;
            margin-bottom: 4px;

            a.footer-social {
                border-width: 1px;
                width: 32px;
                height: 32px;
                margin-right: 16px;
                margin-top: 0;

                &:last-child {
                    margin-right: 0;
                }

                svg {
                    max-width: 16px;
                    max-height: 16px;
                }
            }
        }
    }

    &-social {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 50%;
        border: vw(1) solid $mainColor;
        width: vw(102);
        height: vw(102);
        margin-right: vw(50);
        color: $mainColor;
        margin-top: 0;
        
        &, svg  {
            @extend %transition;
        }

        svg {
            max-width: vw(50);
            max-height: vw(40);
        }

        &:hover {
            background: $mainColor;
            color: #fff;

            svg {
                fill: #fff;
                color: #fff;
            }
        }

        &:active {
            background: #DA3A63;
            color: #fff;

            svg {
                fill: #fff;
                color: #fff;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
//
//body.company .company-ceo:not(.mobile) {
//    background-size: 100%;
//}
//
//.footer:not(.mobile) .footer-address {
//    grid-row-start: 7 !important;
//    grid-row-end: 8 !important;
//    grid-column-start: 4 !important;
//    grid-column-end: 7 !important;
//}
//
//.career-page .footer:not(.mobile) .footer-tentacle {
//    top: -37.020833vw;
//    transform: scale(1.3);
//    @media all and (max-width: 1200px) {
//        top: -36.020833vw;
//        transform: scale(1.4);
//    }
//}
//.career-page .footer:not(.mobile) .footer-in {
//    padding-top: 11vw;
//}