.blog-item-text {
    background: url('../img/svg/blog_item_bg.svg') 0 0/100% no-repeat;
    padding: vw(80) vw(338) vw(195);
    position: relative;
    z-index: 9;
    p {
        font-size: vw(30);
        line-height: vw(45);
        margin: vw(60) 0;
        color: #FFFFFF;
        &.dark {
            color: $bgColor;
        }
    }
    .code {
        background: $bgColor;
        overflow: auto;
        padding: 0 vw(30);
        box-sizing: border-box;
    }
    code {
        font-size: vw(20);
        line-height: vw(30);
        white-space: pre;
        color: #FFFFFF;
    }
}