html body.posts {
    .career-first {
        padding-bottom: 40px;
        &-title {
            font-style: normal;
            font-weight: 600;
            font-size: vw(80);
            line-height: vw(120);
            text-transform: uppercase;
            color: #929292;
        }
        &:not(.mobile) {
            .career-first-title {
                padding-top: 0px;
            }
        }
        &-date {
            padding-left: 50px;
            padding-top: 50px;
            box-sizing: border-box;
            margin-top: 80px;
            font-style: normal;
            font-weight: 300;
            font-size: vw(30);
            line-height: vw(30);
            color: #FFFFFF;
        }
    }
    .career-first-text {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &-l {
            position: relative;
            padding-left: 100px;
            &:before {
                position: absolute;
                content: '';
                top: 50%;
                left: 0;
                background: url("data:image/svg+xml,%3Csvg width='67' height='44' viewBox='0 0 67 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M65 21.9991C63.8519 24.4496 62.4096 26.7806 60.6856 28.9376C54.0878 37.1922 44.0816 42 33.4996 42C22.9175 42 12.9114 37.1922 6.31357 28.9376C4.58993 26.7811 3.14791 24.4507 2 22.0009C3.14805 19.5504 4.59035 17.2194 6.31443 15.0624C12.9122 6.80779 22.9184 2 33.5004 2C44.0825 2 54.0886 6.80779 60.6864 15.0624C62.4101 17.2189 63.8521 19.5493 65 21.9991Z' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M28.7357 31.8708C31.7464 33.3175 35.2536 33.3174 38.2643 31.8708C41.2751 30.4242 43.4618 27.6884 44.2054 24.4379C44.949 21.1874 44.1686 17.7759 42.085 15.1692C40.0015 12.5625 36.8417 11.0442 33.5 11.0442C30.1583 11.0442 26.9985 12.5625 24.9149 15.1692C22.8314 17.7759 22.051 21.1874 22.7946 24.4379C23.5382 27.6884 25.7249 30.4242 28.7357 31.8708Z' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
                width: 63px;
                height: 42px;
                margin-top: -21px;
            }
        }
        &-r {
            p:first-child {
                margin-top: 0;
            }
        }
    }
    @media all and (max-width: 1023px) {
        .career-first-date {
            margin-top: 0;
            padding-top: 0;
            padding-left: 0;
            font-size: 18px;
            line-height: 18px;
            z-index: 2;
        }
        .career-first {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
        .career-first-title {
            z-index: 2;
        }
        .career-first-text {
            width: 100%;
            font-size: 18px;
        }
        .career-first-title {
            font-size: 30px;
            line-height: 40px;
            margin-top: 15px;
        }
        .career-first-text-l {
            padding-top:35px;
            padding-left: 0;
            max-width: 65px;
            text-align: center;
        }
        .career-first-text-l:before {
            width: 45px;
            height: 28px;
            top: 0;
            margin-top: 0;
            left: 50%;
            margin-left: -22.5px;
            background-size: 100%;
        }
    }
}