.fieldwire {
    background: #6496FF;
    transition: background .6s ease;
    &__image {
        position: absolute;
        top: 50%;
        left: calc(50% - #{vw(15)});
        transform: translateX(-50%) translateY(-50%);
        width: vw(325);
        height: vw(425);
    }
    &__image--hat {
        position: absolute;
        top: -100%;
        transition: top .6s ease;
        left: calc(50% - #{vw(55)});
        transform: translateX(-50%);
        width: vw(403);
        height: vw(179);
    }
    &:hover,
    &.mobile {
        background: #3D3D3D;
    }
    &:hover &__image--hat {
        top: vw(115);
    }
    &.mobile &__image--hat {
        top: vw(300);
    }
}