.lonmandi {
    .case_page__about--work {
        padding-top: 0;
    }
    .case_frst__subtitle {
        max-width: 100%;
    }
    .full_img {
        margin-bottom: 30px;
    }
    .case_page__bls--title {
        position: relative;
    }
    .case_page__bls--l {
        border-radius: 20px 0px 0px 20px;
    }
    .no-padding .case_page__bls--l {
        padding: 0;
    }
    .case_task {
        margin-top: vw(200);
        margin-bottom: vw(82);
        &__item {
            display: flex;
            flex-direction: column;
            margin-bottom: vw(62);
            padding-left: 50px;
            padding-right: 50px;
            &--l {
                width: 100%;
            }
            &--r {
                width: 100%;
                margin-top: vw(36);
                font-style: normal;
                font-weight: bold;
                font-size: vw(30);
                line-height: 140%;
                text-transform: uppercase;
                color: #121423;
            }
        }
    }
    .block_yel {
        background: #FFC008 url('../img/s27.png') 0 0 / 100% no-repeat;
        text-align: center;
        padding-top: vw(248);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: vw(340);
        padding-left: 20px;
        padding-right: 20px;
        &__img {
            border: 10px solid #FFFFFF;
            filter: drop-shadow(0px 13px 60px rgba(0, 0, 0, 0.1));
            border-radius: 35px;
            margin-bottom: vw(70);
        }
        &__title {
            font-family: 'Montserrat', serif;
            font-style: normal;
            font-weight: bold;
            font-size: vw(30);
            line-height: 140%;
            text-transform: uppercase;
            color: #121115;
            margin-bottom: vw(70);
            max-width: 1206px;
            width: 100%;
        }
        &__imgs {
            max-width: 705px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: vw(-249);
            &--img {
                border: 10px solid #FFFFFF;
                filter: drop-shadow(0px 13px 10px rgba(0, 0, 0, 0.1));
                border-radius: 35px;
                &:nth-child(1) {
                    position: relative;
                    bottom: vw(-64);
                }
            }
        }
    }
    .case_page__about--rlist li:before {
        background: #fff;
    }
    .case_page__about--rlist li {
        color: #fff;
    }
    .case_page__reds--r {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            border: 10px solid #FFFFFF;
            filter: drop-shadow(0px 13px 60px rgba(0, 0, 0, 0.1));
            border-radius: 35px;
        }
    }
    .case_page__reds--item {
        padding-bottom: 90px;
    }
    .case_page__reds--img {
        padding-bottom: 200px;
        padding-left: 50px;
        padding-right: 50px;
        img {
            border: 10px solid #FFFFFF;
            filter: drop-shadow(0px 13px 60px rgba(0, 0, 0, 0.1));
            border-radius: 35px;
        }
    }
    .company-video {
        filter: drop-shadow(0px 13px 60px rgba(0, 0, 0, 0.3));
        > div {
            border-radius: 20px;
            overflow: hidden;
        }
    }
    .case_page__reds {
        padding-top: vw(163);
    }
    @media all and (max-width: 1023px) {
        .full_img {
            max-width: 140px;
            width: 100%;
            margin-bottom: 30px;
            margin-top: 45px;
        }
        .company-video > div {
            border-radius: 0;
        }
        .case_page__in.mobile .case_page__bls--title {
            font-size: 26px;
        }
        .case_page__in.mobile .case_page__bls--txt {
            margin-bottom: 20px !important;
        }
        .case_page__in.mobile .no-padding .case_page__bls--l {
            padding: 0
        }
        .case_page__in.mobile .case_page__bls--r {
            margin-bottom: 20px !important;
        }
        .case_task__item {
            padding-left: 20px;
            padding-right: 20px;
        }
        .case_task__item--r {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            margin-bottom: 10px;
            text-transform: unset;
        }
        .block_yel {
            padding-top: 70px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .block_yel__img {
            border: 5px solid #FFFFFF;
            filter: drop-shadow(0px 13px 60px rgba(0, 0, 0, 0.1));
            border-radius: 15px;
            margin-bottom: 30px;
        }
        .block_yel__title {
            margin-bottom: 30px;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            color: #121115;
            text-transform: unset;
        }
        .block_yel__imgs--img {
            width: calc(50% - 10px);
            border-radius: 20px;
        }
        .block_yel__imgs--img:nth-child(1) {
            bottom: -40px;
        }
        .case_page__in.mobile .case_page__reds--title {
            font-size: 26px;
        }
        .case_page__in.mobile .case_page__reds--item {
            padding-bottom: 0;
        }
        .case_page__in.mobile .case_page__reds--l {
            margin-bottom: 0;
        }
        .case_page__reds--img {
            display: none;
        }
        .case_page__in.mobile .case_page__reds--r {
            max-height: unset;
            margin-bottom: 85px;
            margin-left: 20px;
            margin-right: 20px;
            width: calc(100% - 40px);
            height: auto;
            img {
                border: 5px solid #FFFFFF;
                border-radius: 20px;
            }
        }
    }
    @media all and (max-width: 640px) {
        .case_page__in.mobile .no-padding .case_page__bls--l {
            height: 270px;
            overflow: hidden;
        }
    }
}