.stroydvor {
    background: #F5F5F5;
    transition: background .6s ease;
    &__image {
        position: absolute;
        transition: all .6s ease;
        z-index: 2;
        img {
            height: 100%;
        }
        &--center {
            top: calc(50% - #{vw(20)});
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: vw(347);
        }
        
    }
    &__image--bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transform: scale(1.3);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    &:hover,
    &.mobile {
        background: #F6F6F8;
    }
    &:hover &__image--bg,
    &.mobile &__image--bg {
        opacity: 1;
        transform: scale(1);
    }
    &.mobile &__image--bg {
        @media all and (max-width: 400px) {
            transform: scale(1.2) !important;
        }
    }
    
}