.job-stages {
    background: #fff;
    padding: 0 0 0 vw(50);
    overflow: hidden;
    &-title {
        text-transform: uppercase;
        margin-bottom: vw(20);
        color: #4f4f4f;
    }
    &-triggers {
        display: flex;
        justify-content: center;
        margin-bottom: vw(100);
    }
    &-trigger {
        .button-circle {
            border-radius: 50%;
        }
        &:hover {
            text-decoration: none !important;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: vw(220);
        height: vw(220);
        border-radius: 50%;
        border: vw(2) solid $bgColor;
        margin: vw(-5);
        position: relative;
        overflow: hidden;
        .button-circle {
            background: $bgColor;
            z-index: 1;
        }
        &.isActive {
            background: $bgColor;
        }
        .in {
            position: relative;
            z-index: 2;
            text-align: center;
            mix-blend-mode: difference;
        }
        .number {
            font-weight: bold;
            font-size: vw(80);
            line-height: vw(80);
            margin-bottom: vw(30);
            color: #fff;
        }
        .text {
            font-weight: 500;
            font-size: vw(18);
            line-height: vw(18);
            color: #fff;
        }
    }
    &-tabs {
        // padding-bottom: vw(56);
    }
    &-slides-double &-item {
        padding-bottom: vw(56);
    }
    &-slide {
        overflow: hidden;
    }
    &-arrows {
        display: inline-flex;
        align-items: center;
        border-bottom: vw(7) solid $bgColor;
        margin-bottom: vw(60);
        button {
            position: static;
        }
    }
    &-arrow {
        border: none;
        background: none;
        font-size: 0;
        display: block;
        cursor: pointer;
        width: vw(89);
        height: vw(38);
        padding: vw(17);
        box-sizing: content-box;
        &:hover {
            svg {
                fill: $mainColor;
            }
        }

        &--prev {
            transform: rotate(180deg);
        }
    }
    &-item {
        display: flex;
    }
    &-item-left {
        width: vw(980);
        margin-right: vw(100);
    }
    &-item-right {
        width: calc(100% - #{vw(1080)});
        min-height: vw(638);
        position: relative;
    }
    &-item-text {
        font-weight: normal;
        font-size: vw(30);
        line-height: vw(50);
        color: $bgColor;
        p {
            margin: 0;
            &:not(:last-child) {
                margin-bottom: vw(30);
            }
        }
    }
    &-item-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    &-title-triggers {
        display: flex;
        align-items: center;
        margin-bottom: vw(60);
        min-height: vw(70);
    }
    &-title-trigger {
        cursor: pointer;
        font-weight: 300;
        font-size: vw(30);
        line-height: vw(30);
        text-decoration: none !important;
        color: $bgColor;
        @extend %transition;
        &.isActive {
            font-weight: 600;
            font-size: vw(50);
            line-height: vw(50);
        }
        &:not(:last-child) {
            margin-right: vw(50);
        }
    }
    &-support {
        padding: vw(241) vw(50);
        margin: 0 vw(-50);
        background: $bgColor;
        display: flex;
        position: relative;
    }
    &:not(.mobile) &-support::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: vw(241);
        background: #fff url('../img/svg/support_top.svg') 0 0 / calc(100% - #{vw(1010)}) no-repeat;
    }
    &:not(.mobile) &-support::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: vw(241);
        transform: rotateX(180deg);
        background: #fff url('../img/svg/support_top.svg') 0 0 / calc(100% - #{vw(1010)}) no-repeat;
    }
    &-support-left {
        width: calc(100% - #{vw(977)});
        .job-stages-trigger {
            border-color: #fff;
            margin: vw(-100) 0 vw(70);
            .number, .text {color: #fff;}
        }
    }
    &-support-right {
        width: vw(977);
        pointer-events: none;
    }
    &-support-title {
        font-weight: bold;
        font-size: vw(120);
        line-height: vw(120);
        text-transform: uppercase;
        margin-bottom: vw(50);
        @extend %white;
    }
    &-support-text {
        font-weight: normal;
        font-size: vw(30);
        line-height: vw(50);
        padding-right: vw(75);
        white-space: initial;
        @extend %white;
    }
    &-support-arrows {
        display: inline-flex;
        align-items: center;
        margin-top: vw(50);
        button {
            position: static;
        }
    }
    &-support-arrow {
        border: none;
        background: none;
        font-size: 0;
        display: block;
        cursor: pointer;
        width: vw(89);
        height: vw(38);
        padding: vw(17);
        box-sizing: content-box;
        svg {
            fill: #fff;
        }
        &:hover {
            svg {
                fill: $mainColor;
            }
        }

        &--prev {
            transform: rotate(180deg);
        }
    }
    &-support-right-item {
        font-size: 0;
    }
    &-management {
        padding: vw(170) 0 0;
    }
    &-management-top {
        display: flex;
        align-items: center;
        margin-bottom: vw(147);
        .job-stages-trigger {
            margin: 0;
        }
    }
    &-management-top-right {
        position: relative;
        width: calc( 100% - #{vw(169) - #{vw(260)}} );
        padding-right: vw(70);
        margin-left: vw(169);
        &:after {
            content: "";
            position: absolute;
            bottom: vw(-70);
            left: vw(-160);
            width: vw(267);
            height: vw(7);
            background: $bgColor;
        }
        .title {
            font-weight: bold;
            font-size: vw(120);
            line-height: vw(100);
            margin-bottom: vw(100);
            text-transform: uppercase;
            text-align: center;
            color: $bgColor;
        }
        .text {
            font-weight: 500;
            font-size: vw(30);
            line-height: vw(50);
            color: $bgColor;
        }
    }
    &-management-bottom {
        display: flex;
        align-items: flex-start;
        position: relative;
    }
    &-management-bottom-left {
        width: calc(100% - #{vw(977)});
        p {
            padding-right: vw(60);
            margin: 0;
            font-size: vw(30);
            line-height: vw(50);
            color: $bgColor;
            &:not(:last-child) {
                margin-bottom: vw(70);
            }
        }
    }
    &-management-bottom-right {
        position: absolute;
        z-index: 9;
        top: 0;
        bottom: 0;
        left: calc(100% - #{vw(977)});
        right: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}
.job-stages-trigger .in {
    mix-blend-mode: unset
}
.job-stages-trigger .text {
    color: #4F4F4F;
}
.job-stages-trigger:hover {
    .number, .text {
        color: #fff;
    }
}
.job-stages-trigger.isActive {
    .number, .text {
        color: #fff;
    }
}
#job-management {
    .job-stages-trigger .in {
        mix-blend-mode: unset
    }
    .job-stages-trigger .number, .job-stages-trigger .text {
        color: #4F4F4F;
    }
}
.job-stages-trigger .number {
    color: #4F4F4F;
}