.job-info {
    display: flex;
    align-items: flex-start;
    padding: 0 vw(50) 100vh;
    &-left {
        width: vw(880);
    }
    &-titles {
        padding-bottom: vw(10);
    }
    &-title {
        margin-bottom: vw(30);
        font-weight: normal;
        font-size: vw(30);
        line-height: vw(30);
        @extend %white;
        @extend %transition;
        &.isActive {
            font-weight: bold;
            font-size: vw(70);
            line-height: vw(70);
            text-transform: uppercase;
            margin-top: vw(40);
            margin-bottom: vw(40);
        }
    }
    &-button {
        width: vw(341);
    }
    &-right {
        margin-left: vw(100);
        padding-top: vw(64);
        width: calc(100% - #{vw(980)});
    }
    &-logos {
        margin-bottom: vw(60);
        display: flex;
    }
    &-item-text {
        font-weight: 300;
        font-size: vw(25);
        line-height: vw(40);
        @extend %white;
    }
    &-logo {
        height: vw(67);
        &:not(:last-child) {
            margin-right: vw(50);
        }
    }
}