.job-info {
    display: flex;
    align-items: flex-start;
    padding: 0 vw(50) vw(150);
    &.mobile {
        flex-direction: column;
    }
    &-left {
        width: vw(880);
    }
    &.mobile &-left {
        width: 100%;
    }
    &-titles {
        padding-bottom: vw(10);
    }
    &.mobile &-titles {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-title {
        margin-bottom: vw(30);
        font-weight: normal;
        font-size: vw(30);
        line-height: vw(30);
        cursor: pointer;
        @extend %white;
        @extend %transition;
        &.isActive {
            font-weight: bold;
            font-size: vw(70);
            line-height: vw(70);
            text-transform: uppercase;
            margin-top: vw(40);
            margin-bottom: vw(40);
        }
    }
    &-button {
        width: vw(341);
    }
    &.mobile &-button {
        margin-top: 20px;
    }
    &-right {
        margin-left: vw(100);
        padding-top: vw(64);
        width: calc(100% - #{vw(980)});
        height: vw(504);
        pointer-events: none;
        position: relative;
        overflow: hidden;
    }
    &.mobile &-right {
        width: 100%;
        margin-left: 0;
    }
    &-item {
        position: absolute;
        top: vw(64);
        left: 0;
        right: 0;
        transform: translateY(-100%);
        opacity: 0;
        &.isActive {
            transform: translateY(0);
            opacity: 1;
            transition: all .3s ease;
        }
    }
    &-logos {
        margin-bottom: vw(60);
        display: flex;
    }
    &-item-text {
        font-weight: 300;
        font-size: vw(25);
        line-height: vw(40);
        @extend %white;
    }
    &-logo {
        height: vw(67);
        &:not(:last-child) {
            margin-right: vw(50);
        }
    }
    &.mobile {
        .button {
            padding: 10px;
            font-size: 9px;
            line-height: normal;
            border-radius: 10px;
        }
        .job-info-button {
            width: auto;
        }
    }
}