.job-team {
    padding: vw(80) vw(50) vw(115);
    position: relative;
    z-index: 10;
    overflow: hidden;
    &-circle {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        transform: translateX(50%) translateY(50%);
        background: #fff;
        border-radius: 50%;
    }
    &-title {
        text-transform: uppercase;
        mix-blend-mode: difference;
        margin-bottom: vw(160);
        @extend %white;
    }
    &-map {
        position: relative;
    }
}