html:root body.posts .post_info { 
    background: url("data:image/svg+xml,%3Csvg width='1920' height='1965' viewBox='0 0 1920 1965' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-1 0H1929.5V1478H1409H1089.49C673.305 1478 276.779 1655.08 -1 1965V1478L-1 0Z' fill='%234F4F4F'/%3E%3C/svg%3E%0A") 0 0 / 100% no-repeat;
    padding: vw(80) vw(50);
    padding-top: 0;
    .posts-blog {
        max-width: 100%;
        padding-bottom: 0;
        @media all and (max-width: 1280px) {
            display: block;
        }
    }
    &__text {
        position: relative;
        z-index: 23;
        margin-top: vw(30);
        font-style: normal;
        font-weight: normal;
        font-size: vw(30);
        line-height: vw(45);
        color: #4F4F4F;
        max-width: 1246px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
        &.light {
            color: #fff;
        }
    }
    &__tbl {
        position: relative;
        z-index: 23;
        max-width: 1246px;
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        margin-bottom: 40px;
        img {
            max-width: 100%;
        }
    }
    &__code {
        position: relative;
        z-index: 23;
        background: #4F4F4F;
        box-sizing: border-box;
        padding: vw(30);
        padding-bottom: vw(10);
        max-width: 1246px;
        width: 100%;    
        margin: 0 auto;
        margin-bottom: vw(80);
        overflow: auto;
        &--in {
            width: max-content;
            font-style: normal;
            font-weight: normal;
            white-space: nowrap;
            font-size: vw(20);
            line-height: vw(30);
            box-sizing: border-box;
            color: #FFFFFF;
            margin-right: 20px;
        }
    }
    @media all and (max-width: 1024px) {
        background-size: 130%;
    }
    @media all and (max-width: 960px) {
        .posts-blog_l__info--title {
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 10px;
        }
        .posts-blog_l__photo {
            fleX: 0 0 93px;
            margin-right: 12px;
            img {
                max-width: 100%;
            }
        }
        .posts-blog_l__info--work {
            font-size: 16px;
            margin-top: 15px;
            font-weight: 500;
        }
        .posts-blog_l__info {
            padding-top: 0;
        }
        .posts-blog_r {
            padding-top: 0;
            justify-content: flex-start;
            margin-left: 106px;
            margin-top: -20px;
            a {
                width: 24px;
                height: 24px;
                margin-right: 30px;
                max-width: 100%;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
        .post_info__text {
            font-size: 16px;
            line-height: 22px;
            margin-top: 45px;
        }
        .post_info__code--in {
            font-size: 16px;
            line-height: 26px;
            padding: 30px;
        }
    }
    @media all and (max-width: 600px) {
        background-size: 290%;
    }
}