.company-reviews {
    overflow: hidden;
    background: #fff;
    &:not(.mobile) {
        padding: 0 vw(50);
    }
    &.mobile {
        padding: 100px 20px 50px;
    }
    &-title {
        white-space: nowrap;
        text-transform: uppercase;
        
    }
    &:not(.mobile) &-title {
        margin-bottom: vw(150);
    }
    &.mobile  &-title {
        margin-bottom: 50px;
        font-weight: bold;
        white-space: initial;
        font-size: 45px;
        line-height: 55px;
    }
    &-track, &-track * {
        overflow: visible;
    }
    &-item {
        background: #FFFFFF;
           
    }
    &:not(.mobile) &-item {
        display: flex;
        padding: vw(40);
        box-shadow: 0px vw(4) vw(10) rgba(64, 64, 64, 0.34);
        border-radius: vw(10);
        &:not(.glide__slide--active) {
            width: vw(247) !important;
        }
        &.glide__slide--active {
            width: calc(100vw - #{vw(100)} - 200px - #{vw(247)} * 2 ) !important;
        }
    }
    &.mobile  &-item {
        padding: 20px;
        box-shadow: 0px 4px 10px rgba(64, 64, 64, 0.34);
        border-radius: 10px;
    }
    &-item-left {
        box-sizing: border-box;
    }
    &:not(.mobile) &-item-left {
        width: vw(187);
        padding-right: vw(40);
    }
    &.mobile &-item-left {
        width: 100%;
        margin-bottom: 10px;
        .image {
            width: 126px;
        }
    }
    &-item-right {
        box-sizing: border-box;
        overflow: hidden;        
    }
    &:not(.mobile) &-item-right {
        width: calc(100% - #{vw(187)});
        padding-left: vw(40);
        border-left: vw(3) solid rgba(79, 79, 79, 0.6);
        transition: width .3s ease;
    }
    &.mobile &-item-right {
        width: 100%;
        padding-top: 20px;
        border-top: 3px solid rgba(79, 79, 79, 0.6);
        
    }
    &-item-name {
        font-weight: 500;
        color: $bgColor;
        transition: 1s all .3s ease; 
    }
    .button {
        overflow: hidden;
    }
    &:not(.mobile) &-item-name {
        font-size: vw(50);
        line-height: vw(60);
        margin-bottom: vw(15);
    }
    &.mobile &-item-name {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 15px;        
    }
    &-item-position {
        font-weight: normal;         
    }
    &:not(.mobile) &-item-position {
        font-size: vw(25);
        line-height: vw(25);
        margin-bottom: vw(30);
        transition: .3s all .3s ease;
    }
    &.mobile &-item-position {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 30px;     
    }
    &-item-text {
        font-weight: normal;
    }
    &:not(.mobile) &-item-text {
        font-size: vw(20);
        line-height: vw(30);
        margin-bottom: vw(40);
        transition: .3s all .3s ease; 
    }
    &.mobile &-item-text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 30px;     
    }
    &:not(.mobile) &-item-button {
        max-width: vw(413);
    }
    &.mobile &-item-button {
        button {
            padding: 25px;
        }
    }
    &-item:not(.glide__slide--active) &-item-left {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    &-item:not(.glide__slide--active) &-item-right {
        width: 0;
        height: 0;
        padding: 0;
        * {
            font-size: 0 !important;
        }
    }
    
    &-arrows {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            position: static;
        }
    }
    &.mobile &-arrows {
        margin-top: 30px;
    }
    &-arrow {
        border: none;
        background: none;
        font-size: 0;
        display: block;
        cursor: pointer;
        box-sizing: content-box;

        &:hover {
            svg {
                fill: $mainColor;
            }
        }

        &--prev {
            transform: rotate(180deg);
        }
    }
    &:not(.mobile) &-arrow {
        width: vw(89);
        height: vw(38);
        padding: vw(50);
    }
    &.mobile &-arrow {
        width: 86px;
        height: 32px;
        padding: 20px;
    }
}